
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .2em;
  text-transform: uppercase;
  color:lightgray;
  line-height: 1.5em;
  
  
}

body{
  margin: 0 auto;
  padding: 0 auto;
  border-radius:10px;
}



#main::before{

  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  background-image: url(../images/alcohol.jpg);
  background-size:cover;
  background-position:70%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.65);
  background-blend-mode: multiply;
  height:100%;
  width:100%;




/*max-width:100vh;
  
  background-color: rgba(0,0,0,.65);
  
  background-image: url(../images/alcohol.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode:multiply;
  height: auto;
  */
  
}







#title {
  max-width:600px;
  font-size:3em;
  text-transform: uppercase;
  border-bottom:solid 1px darkgray;
  text-align: center;
  padding: 1em .5em;
  margin:0 auto;
}

#description {
  text-align: center;
  padding: 20px ;
  margin: 3em auto;
  max-width: 750px;
  
}


#survey-form {
  
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  height: auto;
  padding: 0 20px;
  border-radius:5px;
  
  
}
.about-you{
  margin-bottom:2em;
}

.form-group {
    
  margin: 10px auto;
  max-width: 500px;
  height:auto;
  padding: 5px 0;
  
  
}



fieldset{
  border:none;
}

.form-group-button{
  max-width: 500px;
  height:auto;
  margin:0 auto;
  padding: 5px 0 30px;
}

.form-group-heading{
    text-align:center;
    border-top: lightgray solid 1px;
    border-bottom: lightgray solid 1px;
    font-style:italic;
    margin: 3em 0;
    font-size:125%;
    padding:.5em;
    
}


.form-control{
  text-transform: none;
    
    width: 100%;
    height: 30px;
    
    border: 1px solid ;
    border-radius:.25rem;
    border-color:transparent;
    background-color:lightgray;
    color:black;
}

label{
    display:flex;
    margin-bottom: 0.5rem;
    align-items: center;
    font-size:90%;
}



.input-radio{
  background-color:lightgray;
    display: inline-block;
    margin-right: 0.75rem
}
.input-checkbox{background-color:lightgray;
  display: inline-block;
    margin-right: 0.75rem
}

#comment-text{
  background-color:lightgray;
  color:black;
  text-transform: none;
    display: block;
    width: 100%;
    height: 150px;
    padding:.75em;
    border: 1px solid ;
    border-radius:.25rem;
    border-color:white;
}

button{
    
    padding:10px;
    
    font-family: inherit;
    border: 1px solid ;
    border-radius:.25rem;
    border-color:white;
    background-color:lightseagreen;
    color:black; 

}

button:hover{
    background-color:black;
    color:white;
}

button:active{
    opacity:50%;
}





